/* styles.css */
/* General styles for the App component */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Styles for the TransactionList component */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #c83030;
}

thead th {
  background-color: #d41f1f;
  font-weight: bold;
  text-align: left;
}

tbody tr:hover {
  background-color: #b30d0d;
}




/* TransactionList.css */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #1024b4;
}

thead th {
  background-color: #20afc9;
  font-weight: bold;
  text-align: left;
}

tbody tr:hover {
  background-color: #19c6cf;
}

div {
  /* You can add any additional styles for the container div here */
}
